# Openshift API configurations
export OKD_TOKEN=
export ENDPOINT=

# Mongodb configurations
export DB_ADDR="localhost"
export DB_PORT="27017"

#email stuff
export SEND_MAIL="true"
export MAIL_ROOT="false"
export EMAIL_SRV=
export EMAIL_UNAME=
export EMAIL_PASSWD=
export EMAIL_ADDRESS=
export EMAIL_DOMAIN=

#backup stuff
export BACKUP_PATH="~/shelflife_backup"
